html{

	min-height:100%;
	/*position:relative;*/
}

/* This sets the background image */
body{

	/*margin: 0 auto;
	background-color: #f2f2f2;*/
	background-image: url('background.jpg');
	font-family: Arial;
}

/*This sets the formating on the text next to the header image */
h1.headerText{

	font-family: Arial;
	text-align: center;
	color: black;
	font-size: 40px;
	float: left;
	
}
/* This is the header */
.topnav {
  overflow: hidden;
  background-color: #b20000;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #cce5cc;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Most of this code is for the text on the whitespace */
p.paraOne{

	font-family: Arial;
	text-align: center;
	color: black;
	font-size: 20px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 25em;
    /*background-color: white;*/
    align-items: center;
 
}
p.paraOneHeader{

	font-family: Arial;
	/* If you ever want shadows around the text */
	/*text-shadow: 0 0 3px #00cd00, 0 0 5px #00cd00;*/
	text-align: left;
	color: black;
	font-size: 40px;
	font-weight: bold;
	/* max-width: 58.75em;
	padding:1em 2.5em; */
	margin-left: 10px;
    margin-right: auto;
    margin-bottom: auto;
    width: 25em;
    /*background-color: white;*/
    align-items: left;
 
}
p.paraOneIndent{

	font-family: Arial;
	text-align: left;
	color: black;
	font-size: 20px;
	/* max-width: 58.75em;
	padding:1em 2.5em; */
	margin-left: 10px;
    margin-right: auto;
    margin-bottom: auto;
    width: 25em;
    /*background-color: white;*/
    align-items: left;
}
/* This is for the whitespace. Don't mess with this or imma kick you! */
#whiteBody{
	margin:0em auto;
	width: 75%;
	height: 100%;
	/*background-color:#FFFFFF;*/
  	background-image: linear-gradient(180deg, #ffcccc, #cce5cc);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;
	z-index:-1;
}

/* This is for the code for the footer.  
It floats and has curved edges you just can't see it because it's white.
The original background image was gray so you could see the curves.
Now it just exists for those of us that can see it */
div.divFooterOne{
	
	padding: 30px 30px 30px 30px;
}

footer.footerOne{

	text-align: center;
	position: fixed;
	bottom: 0;
	center: 0;
	color: black;
	font-size: 10px;
	font-family: Arial;
	background-color: #99cc99;
	border-radius: 25px;
}
/* Code for falling snowflakes */
 #snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .snowflake {
    position: fixed;
    background-color: #EEE;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }
/* Are you still there? */
